/** terminal_monitor_message_view **/
.terminal_monitor_message {
    border-radius: 3px;
    
    .gradient(~"linear-gradient(to bottom, #6D8009 0%, #546B0C 100%)"); /* W3C */
    
    max-width: 350px;
    padding : 8px;
    font-family : Arial;
    font-size : 12px;
    
    position: absolute;
    display : none;
    opacity: 0;
    transition: opacity .2s;
    box-sizing: border-box;
    z-index : 10000;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.8), inset -1px -1px rgba(255, 255, 255, 0.2), inset 1px 1px rgba(255, 255, 255, 0.2);
    .font-smoothing(true);
    line-height: 15px;
}

.terminal_monitor_message:focus {
    outline: none;
}

.terminal_monitor_message > .message{
    color : #E6E6E6;
    margin : 0 0 0 1px;
}

.terminal_monitor_message > .message strong {
    display: block;
    margin-bottom: 3px;
}

.terminal_monitor_message > .message a {
    color: rgb(197, 213, 23);
}

.terminal_monitor_message .cmd {
    display: none;
    margin: 5px 0 0 5px;
    float: right;
    
    .gradient(~"linear-gradient(to bottom, #6D8009 0%, #546B0C 100%)"); /* W3C */
    text-shadow: #383838 0px 1px 0px;
}

.terminal_monitor_message .caption {
    font-size: 12px;
    border-top: 1px solid #7FA017;
    cursor: pointer;
}

.terminal_monitor_message .close {
    position: absolute;
    top: 5px;
    right: 5px;
    color: #fff;
    
    width: 14px;
    height: 14px;
    display: block;
    
    background-image: url(/static/plugins/c9.ide.layout.classic/images/close_tab_btn.png);
    background-repeat: no-repeat;
    background-position: 0 -14px;
    cursor: pointer;
}

.terminal_monitor_message .close:hover {
    background-position: -14px -14px;
}